.body{
    background-image: url(./image/backimg.jpg);
     height: 500px;
     background-size: contain;
     
 }
 .inpt{
    border-radius: 20px solid rgb(247, 188, 80);
 }
  .dv1{
    margin-top: 100px;
    margin-left: 50px;
 }